<article class="rental">
    <div class="details">
        <h3>Grand Old Mansion</h3>
        <div class="detail owner">
            <span>Owner:</span> Abhishek
        </div>
        <div class="detail type">
            <span>Type:</span> StandAlone
        </div>
        <div class="detail location">
            <span>Location:</span> San Francisco
        </div>
        <div class="detail bedrooms">
            <span>Number of bedrooms:</span> 3
        </div>
    </div>
</article>