<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Welcome to Super Rentals</h2>
    <p>We Hope that you will find the property you are looking forward to</p>
    <LinkTo @route="about" class="button">About Us</LinkTo>
</div>